<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Sistema Venta</h1>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>

    <span style="flex: 1 1 auto;"></span>
    <label style="font-size: 14px; margin-right: 20px;">
      {{correoUsuario}}|{{rolUsuario}}
    </label>

    <button mat-icon-button (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" style="width:200px;">
    <mat-nav-list>
      <!-- Mostrar DashBoard solo para administradores -->
      <a mat-list-item *ngIf="rolUsuario === 'Administrador'" routerLink="/pages/dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span style="margin-left: 16px;">DashBoard</span>
      </a>

      <!-- Mostrar Usuarios solo para administradores -->
      <a mat-list-item *ngIf="rolUsuario === 'Administrador'" routerLink="/pages/usuarios">
        <mat-icon mat-list-icon>group</mat-icon>
        <span style="margin-left: 16px;">Usuarios</span>
      </a>

      <!-- Mostrar Productos para administradores y supervisores -->
      <a mat-list-item *ngIf="rolUsuario === 'Administrador' || rolUsuario === 'Supervisor'" routerLink="/pages/productos">
        <mat-icon mat-list-icon>collections_bookmark</mat-icon>
        <span style="margin-left: 16px;">Productos</span>
      </a>

      <!-- Mostrar Venta para todos los roles -->
      <a mat-list-item *ngIf="rolUsuario === 'Administrador' || rolUsuario === 'Supervisor' || rolUsuario === 'Empleado'" routerLink="/pages/ventas">
        <mat-icon mat-list-icon>currency_exchange</mat-icon>
        <span style="margin-left: 16px;">Venta</span>
      </a>

      <!-- Mostrar Historial de Ventas para todos los roles -->
      <a mat-list-item *ngIf="rolUsuario === 'Administrador' || rolUsuario === 'Supervisor' || rolUsuario === 'Empleado'" routerLink="/pages/historial_venta">
        <mat-icon mat-list-icon>edit_note</mat-icon>
        <span style="margin-left: 16px;">Historial Ventas</span>
      </a>

      <!-- Mostrar Reportes para administradores y supervisores -->
      <a mat-list-item *ngIf="rolUsuario === 'Administrador' || rolUsuario === 'Supervisor'" routerLink="/pages/reportes">
        <mat-icon mat-list-icon>receipt</mat-icon>
        <span style="margin-left: 16px;">Reportes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
